---
import Base from '@layouts/Base.astro';
import SlideIn from '@components/SlideIn.astro';
import { getCollection } from 'astro:content';
import DayJS from '@components/solid/DayJS';

const posts = (await Promise.all(
  (await getCollection('posts')).map((post) =>
    post.render().then(({ remarkPluginFrontmatter }) => ({
      ...post,
      readingTime: remarkPluginFrontmatter.readingTime,
    })),
  )
)).sort((a, b) => b.data.published - a.data.published);
---

<Base title="Posts" description="Posts of Fay Ash" image="/og.png">
  <div class="prose" text="sm sm:base">
    <SlideIn>
      <h1>Posts</h1>
      <ol class="not-prose">
        {
          posts.map((post) => (
            <li class="py-2">
              <a
                href={`/posts/${post.slug}`}
                class="sm:text-lg op-80 hover:op-100 transition-opacity"
              >
                <div class="sm:inline-block">{post.data.title}</div>
                <span class="sm:ml-2" text="sm md:xs text-1">
                  {post.readingTime} ·
                  <time datetime={post.data.published.toISOString()}>
                    <DayJS
                      date={post.data.published}
                      format="MMM D, YYYY"
                      client:visible
                    />
                  </time>
                </span>
              </a>
            </li>
          ))
        }
      </ol>
    </SlideIn>
  </div>
</Base>
