---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  repo: string;
  desc?: string;
  icon?: ImageMetadata;
}

const { repo, desc, icon } = Astro.props;

const [, name] = repo.split('/');
---

<div w-full px-2>
  <a
    href=`https://github.com/${repo}`
    class="flex items-center justify-between
    rounded-lg
    p-4
    hover:transition-all
    duration-300
    hover:scale-101"
    shadow="~ dark:primary hover:lg"
    bg="accent-0 dark:accent-1"
    text="white dark:text-0"
  >
    <h2 class="font-bold gap-2 flex items-center">
      {icon && <Image src={icon} alt={repo} width="24" height="24" />}
      {name}:
    </h2>
    <p class="text-sm">{desc}</p>
  </a>
</div>
